.header a {
    text-decoration: none;
    color: crimson;
    background-color: wheat;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
}

.header a:hover {
    background-color: yellowgreen;
}