.header {
    background-color: rgb(107, 59, 179);
}

.header a {
    text-decoration: none;
    margin-right: 15px;
    padding: 2px 5px;
    color: aliceblueS;
}

.header a:hover {
    background-color: lightblue;
}

.active {
    background-color: rgb(79, 9, 112);
}